<div class="row">
	<h2>Past Events</h2>
</div>
<div class="row">
	<div class="col-md-6">
		<label for="query">Search</label>
		<input type="text" id="query" class="form-control" ng-model="ec.query">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th ng-click="ec.predicate = 'created_at'">Date</th>
					<th ng-clcik="ec.predicate = 'name'">Event Title</th>
					<th>Roster</th>
					<th>Room</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in ec.events | orderBy: ec.predicate | filter: ec.query">
					<td>{{event.created_at | date: 'medium'}}</td>
					<td>{{event.name}}</td>
					<td>{{event.roster.name}}</td>
					<td>{{event.room.name}}</td>
					<td>
						<span class="badge" ng-click="ec.open(event)">Open</span>
						<span class="badge" ng-click="ec.delete(event._id, $index)">Delete</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>