<div class="row">
	<div class="col-md-6" ng-show="rc.saved">
		{{rc.roster.rosterName}}
	</div>
	<div class="col-md-4" ng-show="rc.saved">
		<button class="btn btn-default" ng-click="rc.saved = !rc.saved">Edit</button>
	</div>
	<div class="col-md-6" ng-hide="rc.saved">
		<input class="form-control" type="txt" ng-model="rc.roster.rosterName">
	</div>
	<div class="col-md-4" ng-hide="rc.saved">
		<button class="btn btn-default" ng-click="rc.saved = !rc.saved">Save</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th ng-click="rc.predicate = 'studentID'">Exam ID</th>
					<th ng-clcik="rc.predicate = 'firstName'">First Name</th>
					<th ng-click="rc.predicate = 'lastName'">Last Name</th>
					<th ng-click="rc.predicate = 'email'">Email</th>
					<th>Preferences</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="student in rc.roster.students | orderBy: rc.predicate">
					<td>{{student.studentID}}</td>
					<td>{{student.firstName}}</td>
					<td>{{student.lastName}}</td>
					<td>{{student.email}}</td>
					<td>
						<select ng-model="student.isLeftHanded">
							<option value="false">Right Handed</option>
							<option value="true">Left Handed</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-offset-md-4 col-md-4">Next</div>
</div>