<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Seating Chart</title>

	<!-- JS -->
    <script src="jquery/dist/jquery.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="angular-cookies/angular-cookies.js"></script>
    <script src="angular-resource/angular-resource.js"></script>
    <script src="angular-sanitize/angular-sanitize.js"></script>
    <script scr="angular-touch/angular-touch.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="angular-growl-v2/build/angular-growl.js"></script>
    <script src="js-xlsx/dist/xlsx.full.min.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="angular-typeahead/angular-typeahead.js"></script>
    <script src="jspdf/dist/jspdf.debug.js"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/controllers/roomDraft.js"></script>
	<script type="text/javascript" src="js/controllers/main.js"></script>
	<script type="text/javascript" src="js/controllers/roomDraft.js"></script>
	<script type="text/javascript" src="js/controllers/roomPublish.js"></script>
    <script type="text/javascript" src="js/controllers/roomForm.js"></script>
    <script type="text/javascript" src="js/controllers/roomRoster.js"></script>
    <script type="text/javascript" src="js/controllers/events.js"></script>
    <script type="text/javascript" src="js/controllers/rosters.js"></script>
    <script type="text/javascript" src="js/controllers/roster.js"></script>
    <script type="text/javascript" src="js/controllers/rooms.js"></script>

	<!-- Stylesheets -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="angular-growl-v2/build/angular-growl.css" />
    <link rel="stylesheet" href="css/main.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container-fluid" ui-view="body"></body>
</html>