.grid-item {
  cursor: pointer;
  display: inline-block;
  margin-left: 6px;
  margin-top: 5px;
  width: 35px;
  height: 35px;
  background-color: #EEEEEE;
  border-radius:5px;
  text-align:center;
  text-decoration:none;
  position: relative;
  -o-transition:all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all .200ms ease-out;
  transition: all 200ms ease-out;
   -webkit-font-smoothing: antialiased;
}

.dead {
	background-color: #EEEEEE
}

.right {
  background-color: #FF5722;
}

.left {
	background-color: #3F51B5;
}

.outline {
	font-size: 17px;
	left: 11px;
	position: absolute;
	bottom: -14px;
}

.alive:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #FF8A65;
  color: white; 
}