.grid-item {
  cursor: pointer;
  display: inline-block;
  margin-left: 6px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background-color: #EEEEEE;
  border-radius:5px;
  text-align:center;
  text-decoration:none;
  position: relative;
  -o-transition:all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all .200ms ease-out;
  transition: all 200ms ease-out;
   -webkit-font-smoothing: antialiased;
}

.dead {
	background-color: #EEEEEE
}

.right {
  background-color: #FF5722;
}

.left {
	background-color: #3F51B5;
}

.assigned {
  background-color: #76FF03;
}

.outline {
	font-size: 15px;
	left: 11px;
	position: absolute;
	bottom: -5px;
  font-family: 'Raleway', sans-serif;
}

.right-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #FF8A65;
  color: white; 
}

.left:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #C5CAE9;
}

.assigned:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #CCFF90;
}

/* pop-up text */
.grid-item .objectInfo {
  margin-bottom: -5px;
  color:#666;
  position:absolute;
  bottom:0;
  left:-75px;
  right:-75px;
  padding:5px 7px;
  z-index:-1;
  font-size:12px;
  font-family: 'Raleway', sans-serif;
  border-radius:5px;
  background:#fff;
  visibility:hidden;
  width: 200px;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */
.grid-item .objectInfo:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:85px;
}

/* text pops up when icon is in hover state */
.grid-item:hover .objectInfo {
  bottom:50px;
  visibility:visible;
  z-index: 1;
}

.voffset3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
